@using Animal_Shelter.Models;
@model List<Animal_Shelter.Models.Animal>;

@{
  Layout = "_Layout";
}

<div class="container">
  @using (Html.BeginForm())
  {
    @Html.Label("name")
    @Html.TextBox("name")
    <input type="submit" value="Search!" />
  }

</div>